/Data/Data/MAB-OT.json filter=lfs diff=lfs merge=lfs -text
/Data/Data/NTWords.json filter=lfs diff=lfs merge=lfs -text
/Data/Data/Original/MAB/.ipynb_checkpoints/MAB-NT-checkpoint.xml filter=lfs diff=lfs merge=lfs -text
/Data/Data/Original/MAB/MAB-NT.xml filter=lfs diff=lfs merge=lfs -text
/Data/Data/Original/MAB/MAB-OT.xml filter=lfs diff=lfs merge=lfs -text
/Data/Data/Original/STEP[[:space:]]Bible/TOTHT.txt filter=lfs diff=lfs merge=lfs -text
/Data/Data/Original/Synonyms/mthesaur.txt filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/BLBGreekSyllableComparisons.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/BLBHebrewSyllableComparisons.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/MAB-NT-Intermediate.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/MAB-NT.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/MAB-OT.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/MAB-OT.json filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/MAB-Parse-Formatted.txt filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/NTWords.json filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/MAB/NTWordsStructuredByPericopeMorphology.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/PericopeMAB.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/PericopeMAB/PericopeMAB.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/STEPHebrew.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/Synonyms/Moby.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/Synonyms/Moby/Moby.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/Synonyms/Moby/MobySuperIndex.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/Synonyms/MobySuperIndex.csv filter=lfs diff=lfs merge=lfs -text
/Data/Data/Processed/Synonyms/Synonyms.csv filter=lfs diff=lfs merge=lfs -text
